.header {
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.two-split {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.explanation-box {
    flex: 0 0 auto;
    border: 2px solid black;
    aspect-ratio: 1 / 1;
    width: 300px;
    text-align: center;
}

.Auth-box {
    flex: 0 0 auto;
    border: 2px solid black;
    aspect-ratio: 1 / 1;
    width: 300px;
    text-align: center;
}