.header {
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.two-split {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.explanation-box {
    flex: 0 0 350px;
    border: 2px solid #2f234f;
    aspect-ratio: 1 / 1;
    text-align: center;
    color: #2f234f;
}

.google-container {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 12px;
}

.Auth-box {
    flex: 0 0 350px;
    border: 2px solid #2f234f;
    aspect-ratio: 1 / 1;
    width: 300px;
    text-align: center;
    color: #2f234f;
}

.signup-question {
    margin-top: 12px;
}