/*
 * Light Theme Components
 */
.light-github-icon {
    color: #000000;
    text-decoration: none;
    padding-left: 10px;
}


/*
 * Dark Theme Components
 */

.dark-github-icon {
    color: #ffffff;
    text-decoration: none;
    padding-left: 10px;
}