table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    height: 20px;
    padding: 0.5vw;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.table-title{
    text-align: center;
}

.table-box {
    background-color: aliceblue;
    aspect-ratio: 1 / 1;
    padding: 40px;
    margin: 40px;
}
