.home-table, .home-th, .home-td {
    border: 1px solid #2f234f;
    border-collapse: collapse;
    margin: auto;
    color: #2f234f;
}

td, th {
    height: 10px;
    padding: 0.5vw;
}

.course-table {
    position: sticky;
}
