.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.scrollable-area {
    overflow: auto;
    height: calc(100vh - 140px);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 5px #2f234f;
}

.scrollable-area::-webkit-scrollbar {
    width: 10px;
}

.scrollable-area::-webkit-scrollbar-thumb {
    background: #2f234f;
    border-radius: 10px;
}