@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fcfcfc;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header {
    height: 60px;
    position: relative;
}


.logo h1 {
    font-size: 30px;
    color: #2f234f;
    text-decoration: none;
}

.menu-icon {
    display: none;
}

.header-elements {
}

.header-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.header-elements ul li:not(:last-child) {
    margin-right: 60px;
}

.header-elements ul a {
    font-size: 16px;
    font-weight: 400;
    color: #2f234f;
    text-decoration: none;
}

.header-elements ul p {
    font-size: 16px;
    font-weight: 400;
    color: #2f234f;
    text-decoration: none;
}

.header-elements ul a.active {
    color: #574c4c;
    font-weight: 500;
    position: relative;
}


.header-elements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #574c4c;
}


@media (max-width: 768px) {
    .header-elements ul li:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 600px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .account-icon,
    .thmode-icon {
        display: none;
    }

    .contact-icon {
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

    .menu-icon ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    .menu-icon li:not(:last-child) {
        margin-right: 30px;
    }


    .header-elements {
        position: absolute;
        right: 0;
        top: 60px;
        background-color: #f8d588;
        width: 0;
        height: calc(100vh - 60px);
        transition: all 0.3s ease-in;
        overflow: hidden;
    }

    .header-elements.active {
        width: 270px;
    }

    .header-elements ul {
        display: flex;
        flex-direction: column;
    }

    .header-elements ul li {
        margin-right: unset;
        margin-top: 22px;
    }
}